Repository Parsl/parsl, pull requests merged in 2019-09, with the labels that each got.

#1240 Make multinode tests not import config by default
  parsl/tests/sites/test_multinode.py
  parsl/tests/sites/test_multinode_mpi.py
Labels: test-improvement

#1236 Extend mypy checking to more of the codebase
  .travis.yml
Labels: test-improvement

#1260 Fix bad reference in monitoring to internal AppFuture tid
  parsl/dataflow/dflow.py
Labels: monitoring

#1251 Make pipeline test delete its working files before and after
  parsl/tests/test_bash_apps/test_pipeline.py
Labels: test-improvement

#1255 Re-enable ipp multisite test previously skipped for being broken
  parsl/tests/sites/test_local_ipp_multisite.py
Labels: test-improvement

#1266 Make retry test pass, and run it in CI
  parsl/tests/test_error_handling/test_retries.py
Labels: test-improvement

#1261 Make CI run htex tests twice, once with a more interesting config
  .travis.yml
  parsl/tests/configs/htex_local_alternate.py
Labels: test-improvement

#1264 Fixup checkpoint 'task_exit' test
  parsl/tests/test_checkpointing/test_task_exit.py
  parsl/utils.py
Labels: test-improvement

#1265 Fixup checkpoint periodic test
  parsl/tests/configs/local_threads_checkpoint_periodic.py
  parsl/tests/test_checkpointing/test_periodic.py
Labels: test-improvement

#1271 Reduce poll_period in htex_local_alternate CI test
  parsl/tests/configs/htex_local_alternate.py
Labels: test-improvement

#1268 Fixup and re-enable bash memoization test
  parsl/tests/test_bash_apps/test_memoize.py
  parsl/tests/test_python_apps/test_memoize_1.py
Labels: test-improvement

#1272 Make explicit copies of File objects per execution
  parsl/app/futures.py
  parsl/data_provider/data_manager.py
  parsl/data_provider/files.py
  parsl/data_provider/ftp.py
  parsl/data_provider/globus.py
  parsl/data_provider/http.py
  parsl/dataflow/dflow.py
  parsl/tests/test_bash_apps/test_pipeline.py
  parsl/tests/test_staging/test_implicit_staging_globus.py
Labels: file-management

#1250 Fix race condition in checkpoint test (issue #681)
  parsl/tests/test_checkpointing/test_regression_233.py
Labels: test-improvement

#1312 Tidy phrasing and structure of DataFuture parent future type check
  parsl/app/futures.py
Labels: file-management

#1311 Remove provider=None codepaths
  parsl/executors/high_throughput/executor.py
Labels: htex/exex

#1310 Remove ability for providers to be not-scalable
  parsl/executors/extreme_scale/executor.py
  parsl/executors/high_throughput/executor.py
  parsl/executors/ipp.py
  parsl/executors/low_latency/executor.py
  parsl/providers/aws/aws.py
  parsl/providers/azure/azure.py
  parsl/providers/cluster_provider.py
  parsl/providers/condor/condor.py
  parsl/providers/googlecloud/googlecloud.py
  parsl/providers/kubernetes/kube.py
  parsl/providers/local/local.py
  parsl/providers/provider_base.py
Labels: htex/exex

#1315 Tighten pipeline tests to assert more.
  parsl/tests/test_bash_apps/test_pipeline.py
Labels: file-management

#1284 Add worker plot monitoring #1278
  parsl/monitoring/visualization/plots/default/workflow_resource_plots.py
  parsl/monitoring/visualization/templates/resource_usage.html
  parsl/monitoring/visualization/views.py
Labels: monitoring

#1320 Pay attention to function substitution done by output staging
  parsl/dataflow/dflow.py
Labels: bug, file-management

#1295 Fix monitoring logging level
  docs/userguide/monitoring.rst
  parsl/dataflow/dflow.py
  parsl/monitoring/monitoring.py
  parsl/tests/configs/local_threads_monitoring.py
Labels: monitoring
