Repository Parsl/parsl, pull requests merged in 2019-10, with the labels that each got.

#1339 Update issue/feature templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: parslfest2019

#1379 Fix monitoring high cpu utilization
  parsl/monitoring/db_manager.py
  parsl/monitoring/monitoring.py
Labels: monitoring

#1377 Add test mark for tests affected by #363
  CONTRIBUTING.rst
  parsl/tests/conftest.py
  parsl/tests/test_bash_apps/test_basic.py
  parsl/tests/test_bash_apps/test_error_codes.py
  parsl/tests/test_bash_apps/test_multiline.py
  parsl/tests/test_bash_apps/test_stdout.py
  parsl/tests/test_data/test_file_apps.py
  parsl/tests/test_data/test_file_ipp.py
Labels: test-improvement

#1385 Add docstring and typing for stage_in and stage_out
  parsl/data_provider/staging.py
Labels: file-management

#1378 Add an rsync file staging provider
  docs/userguide/data.rst
  parsl/data_provider/rsync.py
  parsl/tests/configs/htex_local_rsync_staging.py
Labels: file-management

#1402 Remove UDPRadio.send return type zoo
  parsl/monitoring/monitoring.py
Labels: monitoring

#1401 Make monitoring db_manager use the same log format as rest of monitoring
  parsl/monitoring/db_manager.py
Labels: monitoring

#1399 Correct MonitoringHub docstring
  parsl/monitoring/monitoring.py
Labels: monitoring

#1398 Remove commented-out logging_server shutdown calls
  parsl/dataflow/dflow.py
Labels: monitoring

#1403 Remove Hub->MonitoringHub stop_q
  parsl/monitoring/monitoring.py
Labels: monitoring

#1391 check 'all' install target in CI
  .travis.yml
Labels: test-improvement

#1400 Add typeguard to MonitoringHub initializer
  parsl/monitoring/monitoring.py
Labels: monitoring

#1407 Add more data provider classes to reference guide
  docs/reference.rst
  docs/stubs/parsl.data_provider.file_noop.NoOpFileStaging.rst
  docs/stubs/parsl.data_provider.ftp.FTPInTaskStaging.rst
  docs/stubs/parsl.data_provider.ftp.FTPSeparateTaskStaging.rst
  docs/stubs/parsl.data_provider.globus.GlobusStaging.rst
  docs/stubs/parsl.data_provider.http.HTTPInTaskStaging.rst
  docs/stubs/parsl.data_provider.http.HTTPSeparateTaskStaging.rst
  docs/stubs/parsl.data_provider.rsync.RSyncStaging.rst
Labels: documentation, file-management

#1411 Update miscellaneous documentation stubs
  docs/stubs/parsl.data_provider.data_manager.DataManager.rst
  docs/stubs/parsl.data_provider.data_manager.Staging.rst
  docs/stubs/parsl.data_provider.staging.Staging.rst
  docs/stubs/parsl.dataflow.dflow.DataFlowKernelLoader.rst
  docs/stubs/parsl.dataflow.futures.AppFuture.rst
  docs/stubs/parsl.executors.ExtremeScaleExecutor.rst
  docs/stubs/parsl.executors.HighThroughputExecutor.rst
  docs/stubs/parsl.executors.IPyParallelExecutor.rst
  docs/stubs/parsl.executors.ThreadPoolExecutor.rst
  docs/stubs/parsl.executors.base.ParslExecutor.rst
  docs/stubs/parsl.executors.swift_t.TurbineExecutor.rst
  docs/stubs/parsl.launchers.GnuParallelLauncher.rst
  docs/stubs/parsl.launchers.MpiExecLauncher.rst
  docs/stubs/parsl.launchers.SimpleLauncher.rst
  docs/stubs/parsl.launchers.SingleNodeLauncher.rst
  docs/stubs/parsl.launchers.SrunMPILauncher.rst
  docs/stubs/parsl.monitoring.db_logger.MonitoringConfig.rst
  docs/stubs/parsl.providers.AWSProvider.rst
  docs/stubs/parsl.providers.CobaltProvider.rst
  docs/stubs/parsl.providers.CondorProvider.rst
  docs/stubs/parsl.providers.GoogleCloudProvider.rst
  docs/stubs/parsl.providers.GridEngineProvider.rst
  docs/stubs/parsl.providers.KubernetesProvider.rst
  docs/stubs/parsl.providers.LocalProvider.rst
  docs/stubs/parsl.providers.PBSProProvider.rst
  docs/stubs/parsl.providers.SlurmProvider.rst
  docs/stubs/parsl.providers.TorqueProvider.rst
Labels: documentation

#1316 Fix a dependency bug that only shows with certain stageout patterns
  parsl/data_provider/data_manager.py
  parsl/data_provider/ftp.py
  parsl/data_provider/http.py
Labels: bug, file-management

#1394 Type-driven improvements to File
  parsl/data_provider/files.py
  parsl/tests/test_bash_apps/test_pipeline.py
  parsl/tests/test_staging/test_implicit_staging_globus.py
Labels: file-management
