Repository Parsl/parsl, pull requests merged in 2020-05, with the labels that each got.

#1680 Cleanup function serialization in workqueue executor
  parsl/executors/workqueue/executor.py
  parsl/executors/workqueue/workqueue_worker.py
Labels: workqueue

#1677 Add support for Work Queue auto labeling resources
  parsl/executors/workqueue/executor.py
Labels: workqueue

#1670 Fix monitoring ctrlc hang
  parsl/monitoring/db_manager.py
  parsl/monitoring/monitoring.py
Labels: monitoring

#1690 wq excutor: treat parsl-default as any other category
  parsl/executors/workqueue/executor.py
Labels: workqueue

#1691 add storage_access spec to wq executor
  parsl/executors/workqueue/executor.py
  parsl/tests/configs/workqueue_ex.py
Labels: workqueue

#1708 Fix source mode in Work Queue executor
  parsl/executors/workqueue/executor.py
Labels: workqueue

#1409 Rewrite data management user guide a bit
  docs/userguide/data.rst
  docs/userguide/futures.rst
Labels: documentation, file-management

#1675 add resource specification kwarg
  parsl/dataflow/dflow.py
  parsl/executors/base.py
  parsl/executors/errors.py
  parsl/executors/high_throughput/executor.py
  parsl/executors/low_latency/executor.py
  parsl/executors/threads.py
  parsl/executors/workqueue/executor.py
  parsl/tests/test_error_handling/test_resource_spec.py
Labels: enhancement, workqueue

#1705 work queue executor: rework how file names are handled
  Makefile
  docs/stubs/parsl.executors.WorkQueueExecutor.rst
  parsl/executors/workqueue/errors.py
  parsl/executors/workqueue/exec_parsl_function.py
  parsl/executors/workqueue/executor.py
  parsl/executors/workqueue/workqueue_worker.py
  parsl/tests/workqueue_tests/wqex_condor.py
  setup.py
Labels: workqueue

#1728 Adds type annotations to WorkQueueExecutor
  parsl/executors/workqueue/executor.py
Labels: workqueue
