Repository Parsl/parsl, pull requests merged in 2020-08, with the labels that each got.

#1815 Move note on caching performance penalty into paragraph about caching performance penalty
  docs/userguide/app_caching.rst
Labels: documentation, memo/checkpoint

#1814 Re-do monitoring intro/installation sections in user guide
  docs/userguide/monitoring.rst
Labels: documentation, monitoring

#1813 Remove docstring requirement that slurm job name is unique
  parsl/providers/slurm/slurm.py
Labels: documentation

#1812 Use real final state to color DAG visualization
  parsl/monitoring/visualization/plots/default/workflow_plots.py
  parsl/monitoring/visualization/views.py
Labels: monitoring

#1808 Clarify distinction between tasks and tries to run tasks
  parsl/dataflow/dflow.py
  parsl/dataflow/states.py
  parsl/monitoring/db_manager.py
  parsl/monitoring/monitoring.py
  parsl/monitoring/visualization/models.py
  parsl/monitoring/visualization/plots/default/workflow_plots.py
  parsl/monitoring/visualization/plots/default/workflow_resource_plots.py
  parsl/monitoring/visualization/templates/app.html
  parsl/monitoring/visualization/templates/task.html
  parsl/monitoring/visualization/views.py
Labels: monitoring

#1563 Support for scaling down in HTEX
  parsl/config.py
  parsl/dataflow/strategy.py
  parsl/executors/high_throughput/executor.py
  parsl/executors/high_throughput/interchange.py
  parsl/tests/test_scaling/__init__.py
  parsl/tests/test_scaling/test_scale_down.py
Labels: enhancement
