Repository Parsl/parsl, pull requests merged in 2020-06, with the labels that each got.

#1726 Add doc section on using WQ for heterogeneous environments
  docs/userguide/configuring.rst
Labels: documentation

#1752 fix to ignore compressed files in runinfo
  parsl/dataflow/rundirs.py
Labels: bug

#1760 Make exception text capitalization flow more naturally
  parsl/monitoring/db_manager.py
Labels: monitoring

#1727 Monitoring records task earlier
  parsl/dataflow/dflow.py
  parsl/monitoring/db_manager.py
Labels: monitoring

#1762 Make task list appear under .../task/ not under .../app/
  parsl/monitoring/visualization/views.py
Labels: monitoring

#1759 Log thread on all messages in database manager
  parsl/monitoring/db_manager.py
Labels: monitoring

#1763 Remove pytest option for one-DFK-per-test
  parsl/tests/conftest.py
Labels: tidying, workqueue

#1764 Check for errors in renamed hub.log, now monitoring_router.log
  .travis.yml
Labels: monitoring, test-improvement

#1757 Remove broken/unused provisioned_blocks attribute of providers
  parsl/providers/cluster_provider.py
  parsl/providers/cobalt/cobalt.py
  parsl/providers/condor/condor.py
  parsl/providers/googlecloud/googlecloud.py
  parsl/providers/local/local.py
  parsl/providers/lsf/lsf.py
  parsl/providers/pbspro/pbspro.py
  parsl/providers/slurm/slurm.py
  parsl/providers/torque/torque.py
Labels: tidying

#1700 Test that parsl-visualize does not return HTTP errors
  .travis.yml
  parsl/monitoring/visualization/templates/app.html
  parsl/monitoring/visualization/templates/dag.html
  parsl/monitoring/visualization/templates/resource_usage.html
  parsl/monitoring/visualization/templates/task.html
Labels: monitoring, test-improvement

#1767 Generate Gantt chart from status table rather than task table timestamps
  parsl/monitoring/visualization/plots/default/workflow_plots.py
  parsl/monitoring/visualization/views.py
Labels: monitoring

#1775 Log monitoring exception queue errors at ERROR not INFO level
  parsl/monitoring/monitoring.py
Labels: monitoring

#1778 Remove unused fields from monitoring UDPRadio protocol
  parsl/monitoring/monitoring.py
Labels: monitoring

#1776 Hyperlinks for app page to task pages should be on the task ID, not app name
  parsl/monitoring/visualization/templates/app.html
Labels: monitoring

#1774 Remove denormalised workflow duration from monitoring db
  parsl/dataflow/dflow.py
  parsl/monitoring/db_manager.py
  parsl/monitoring/visualization/models.py
  parsl/monitoring/visualization/templates/app.html
  parsl/monitoring/visualization/templates/dag.html
  parsl/monitoring/visualization/templates/resource_usage.html
  parsl/monitoring/visualization/templates/task.html
  parsl/monitoring/visualization/templates/workflow.html
  parsl/monitoring/visualization/templates/workflows_summary.html
  parsl/monitoring/visualization/views.py
Labels: monitoring
